{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}
<main class="max-w-5xl mx-auto px-6 py-20 space-y-24">

  <section class="space-y-8 max-w-3xl">
    <span class="text-sm opacity-60">
      Arc {{ page.arc_number|default:"?" }}
    </span>

    <h1 class="text-5xl md:text-6xl font-bold leading-tight">
      {{ page.title }}
    </h1>


    <div class="prose prose-neutral max-w-none">
      {{ page.description|richtext }}
    </div>

    <div class="flex flex-wrap gap-3 text-sm opacity-80">
      <span class="badge badge-outline">{{ chapters|length }} Chapter</span>
    </div>

    {% image page.thumbnail format-webp class="w-full h-max rounded-2xl" %}

    <div class="pt-6">
      <a href="{% pageurl first_chapter %}" class="btn btn-primary btn-wide items-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="size-5" viewBox="0 0 256 256"><path fill="currentColor" d="M232 48h-72a40 40 0 0 0-32 16a40 40 0 0 0-32-16H24a8 8 0 0 0-8 8v144a8 8 0 0 0 8 8h72a24 24 0 0 1 24 24a8 8 0 0 0 16 0a24 24 0 0 1 24-24h72a8 8 0 0 0 8-8V56a8 8 0 0 0-8-8M96 192H32V64h64a24 24 0 0 1 24 24v112a39.8 39.8 0 0 0-24-8m128 0h-64a39.8 39.8 0 0 0-24 8V88a24 24 0 0 1 24-24h64Z"/></svg>
        Mulai dari Chapter Pertama
        <!-- placeholder link -->
      </a>
    </div>
  </section>

  <section class="space-y-10">
    <h2 class="text-2xl font-semibold">
      Daftar Chapter
    </h2>

    <div class="space-y-4">
      {% for chapter in chapters %}
      <article
        class="group flex items-center justify-between gap-6
               border border-base-300 rounded-xl px-5 py-4
               hover:border-base-content/20 transition"
      >
        <div class="space-y-1">
          <span class="text-xs opacity-60">
            Chapter {{ forloop.counter }}
          </span>

          <h3 class="text-lg font-medium">
            <a href="{% pageurl chapter %}" class="link link-hover">
              {{ chapter.title }}
            </a>
          </h3>
        </div>
      </article>
      {% endfor %}
    </div>
  </section>
</main>
{% endblock content %}
