@import "tailwindcss";

@font-face {
  font-family: "Literata";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Literata-Regular.woff") format("woff");
}

@font-face {
  font-family: "Literata";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Literata-Bold.woff") format("woff");
}

@theme {
  --font-primary: "Literata", sans-serif
}
